<style>
    
    /* Sections */

    .camp-section-1 {
        padding: 95px 0 80px;
    }

    .camp-section-2 {
        padding: 40px 0 80px;
        background: #efefef;
    }

    .camp-section-3 {
        padding: 40px 0 80px;
    }

    .camp-subsection-3a {
        padding-top: 40px;
    }

    .camp-section-4 {
        padding: 40px 0 80px;
        background: #efefef;
    }

    /* Video callout */

    .video-callout__img {
        text-align: center;
    }

    .video-callout__title {
        margin-bottom: 0;
    }

    .video-callout__subtitle {
        margin: 0;
    }

    .video-callout__meta {
        margin-top: 5px;
    }

    /* Generic CSS Grid */

    .camp-grid {
        margin: 0 auto;
    }

    .camp-grid__col {
        padding: 20px 0;
    }
    
    /* Video Grid */
    
    .video-grid {
        display: grid; /* Using css-grid instead of floats so we can get equal heights */
        margin-left: -20px;
        margin-right: -20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .video-grid__col {
        outline: 1px solid blueviolet;
        padding: 20px;
    }

    /* Checklist CSS Grid */

    .camp-checklist {
        max-width: 550px;
        margin: 0 auto;
    }

    .camp-checklist__col {
        padding: 40px 0;
        border-bottom: 2px solid #7dc4c2;
    }

    .camp-checklist__col:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }

    @media (min-width: 1180px) {

        /* Video callout */

        .video-callout__img {
            text-align: right;
        }
        
        /* Generic CSS Grid */

        .camp-grid {
            display: grid; /* Using css-grid instead of floats so we can get equal heights */
            margin-left: -20px;
            margin-right: -20px;
        }

        .camp-grid--2-cols {
            grid-template-columns: 1fr 1fr;
        }

        .camp-grid__col {
            padding: 0 20px;
        }
        
        /* Checklist CSS Grid */
        
        .camp-checklist {
            max-width: none;
            padding: 0 calc(40px - 15px); /* minus .camp-container padding */
            display: grid; /* Using css-grid instead of floats so we can get equal heights */
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: -40px;
            margin-right: -40px;
        }
        
        .camp-checklist__col {
            padding: 0 40px;
            border-right: 2px solid #7dc4c2;
            border-bottom: none;
        }

        .camp-checklist__col:last-of-type {
            border-right: none;
        }

        /* IE support */

        /* Generic CSS Grid */
        .camp-grid {
            display: -ms-grid;
            -ms-grid-columns: 1fr 0 1fr;
            -ms-grid-rows: auto;
        }

        .camp-grid--2-cols .camp-grid__col {
            -ms-grid-column-span: 1;
        }

        .camp-grid--2-cols .camp-grid__col:nth-of-type(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        .camp-grid--2-cols .camp-grid__col:nth-of-type(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
        }

        /* Checklist CSS Grid */
        .camp-checklist {
            display: -ms-grid;
            -ms-grid-columns: 1fr 0 1fr 0 1fr;
            -ms-grid-rows: auto 0;
        }

        .camp-checklist__col {
            -ms-grid-column-span: 1;
        }

        .camp-checklist__col:nth-of-type(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }

        .camp-checklist__col:nth-of-type(2) {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
        }

        .camp-checklist__col:nth-of-type(3) {
            -ms-grid-row: 1;
            -ms-grid-column: 5;
        }
        /* end IE support */

    }
</style>

<div class="camp-wrapper">

    <div role="complementary" class="camp-sidebar">

        <h2 class="camp-sidebar__title">7 Seas Trading Co.</h2> 
        <h3 class="camp-sidebar__small-title">
            <span class="camp-sidebar__icons">
                <img src="images/user.svg" alt="user">
            </span>
            <span class="camp-sidebar__icon-text no-button">Current Users</span>
        </h3>

        <ul class="camp-user-menu">
            <li class="camp-user-menu__item camp-user-menu__item--pending float-clear">
                <span class="camp-sidebar__icon-text">
                    <button type="button" class="anti-button">Sinbad</button>
                </span>
            </li>

            <li class="camp-user-menu__item camp-user-menu__item--pending float-clear">
                <span class="camp-sidebar__icons">
                    <button type="button" class="anti-button"><img src="images/check.svg" alt="checkmark"></button>
                    <button type="button" class="anti-button"><img src="images/x.svg" alt="x"></button>
                </span>
                <span class="camp-sidebar__icon-text">
                    <button type="button" class="anti-button">Alibaba</button>
                </span>
            </li>

            <li class="camp-user-menu__item camp-user-menu__item--pending float-clear">
                <span class="camp-sidebar__icons">
                    <img src="images/hourglass.svg" alt="hourglass">
                </span>
                <span class="camp-sidebar__icon-text">
                    <button type="button" class="anti-button">Scheherazade &ndash; plus some more long descriptive text</button>
                </span>
            </li>
        </ul>

    </div>

    <div role="main" class="camp-main">

        <section class="camp-section-1 text-center">
            <div class="camp-container">
                <div class="camp-title-group">
                    <div class="wpb_text_column">
                        <h1 class="headline">Welcome</h1>
                    </div>
                    <div class="wpb_text_column">
                        <p>Click below to download SmartDeploy.</p>
                    </div>
                </div>
                
                <div class="wpb_column">
                    <div class="vc_btn3-container CTA-button wpb_animate_when_almost_visible wpb_bounceIn bounceIn vc_btn3-center wpb_start_animation animated">
                        <a class="camp-btn-mega" href="/download/smartdeploy" title=""><i class="camp-btn-mega__icon fa fa-download"></i> Download Trial</a>
                    </div>
                </div>
                <div class="wpb_text_column">
                    <p class="camp-notes">
                        <b>Release Notes</b><br>
                        Software Version 2.0.3000 | Release Date: 2/16/2018 | Size: 1.08 GB
                    </p>
                </div>
            </div>
        </section>
        
        <section class="camp-section-2 text-center">
            <div class="camp-container">

                <div class="camp-title-group">
                    <div class="wpb_text_column">
                        <h2 class="headline">[[Checklist]]</h2>
                    </div>
                    <div class="wpb_text_column">
                        <p>Click below to download SmartDeploy.</p>
                    </div>
                </div>

                <div class="camp-checklist text-left float-clear">
                    <div class="camp-checklist__col">
                        <h3 class="camp-icon-title"><img src="images/checked-box.svg" alt="checked checkbox"> 1. SmartDeploy</h3>
                        <p>Download and install SmartDeploy on your IT workstation. Try SmartDeploy free for 15 days to deploy up to 15 unique devices. Upon purchase you’ll pick up right where you left off.</p>
                    </div>
                    <div class="camp-checklist__col">
                        <h3 class="camp-icon-title"><img src="images/checked-box.svg" alt="checked checkbox"> 2. Virtualization Software</h3>
                        <p>You will use a virtual machine (VM) to create your golden reference computer. We support Microsoft, Oracle and VMware products.</p>
                        <p>Here's a free option that works well with SmartDeploy: <a href="#">Oracle VM VirtualBox</a>.</p>
                    </div>
                    <div class="camp-checklist__col">
                        <h3 class="camp-icon-title"><img src="images/checked-box.svg" alt="checked checkbox"> 3. Windows Media</h3>
                        <p>You’ll need your Windows media (and any other application media you like, such as Microsoft Office) to create your new golden reference computer. If you don’t have your Windows media, use the <a href="#">Windows media creation tool</a>.</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="camp-section-3">
            <div class="camp-container">

                <div class="camp-title-group text-center">
                    <div class="wpb_text_column">
                        <h2 class="headline">[[Video Tour]]</h2>
                    </div>
                    <div class="wpb_text_column">
                        <p>[[Short videos to get you up and running in no time.]]</p>
                    </div>
                </div>

                <div class="camp-grid camp-grid--2-cols">
                    <div class="camp-grid__col video-callout__img">
                        <a href=""><img src="https://picsum.photos/545/310" alt=""></a>
                    </div>
                    <div class="camp-grid__col video-callout__body clear-child-margins">
                        <h3 class="video-callout__title h3-alt">Setup Your IT Workstation</h3>
                        <p class="video-callout__subtitle">Gather these three items to complete your evaluation</p>
                        <p class="video-callout__meta">Active time: 5 minutes<br> Inactive time: up to 60 minutes</p>

                        <ul>
                            <li>Install SmartDeploy by running the .exe file you just downloaded</li>
                            <li>SmartDeploy requires Windows ADK and Silverlight. If you do not already have these, SmartDeploy will guide you through the installation process.</li>
                            <li>While you're installing SmartDeploy you can gather:
                                <ul>
                                    <li>Virtualization Software</li>
                                    <li>OS Media</li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                
                <div class="camp-subsection-3a">
                    <h3>[[Watch our videos maybe?]]</h3>
                </div>

                <div class="video-grid">
                    <div class="video-grid__col">Step 1</div>
                    <div class="video-grid__col">Step 2</div>
                    <div class="video-grid__col">Step 3</div>
                    <div class="video-grid__col">Step 4</div>
                    <div class="video-grid__col">Step 5</div>
                    <div class="video-grid__col">Step 6</div>
                </div>

            </div>
        </section>

        <section class="camp-section-2 text-center">
            <div class="camp-container">

                <div class="camp-title-group">
                    <div class="wpb_text_column">
                        <h2 class="headline">[[Getting Started]]</h2>
                    </div>
                    <div class="wpb_text_column">
                        <p>Resources to help you get started with SmartDeploy.</p>
                    </div>
                </div>

                
                <div class="media-block">
                    <div class="media-block__media">
                        <img src="https://picsum.photos/31/32" alt="">
                    </div>
                    
                    <div class="media-block__body">
                        <h3>SmartDeploy User's Guide</h3>
                        <p>Everything you need to know about using SmartDeploy.</p>
                    </div>
                </div>

                <div class="media-block">
                    <div class="media-block__media">
                        <img src="https://picsum.photos/31/32" alt="">
                    </div>
                    
                    <div class="media-block__body">
                      <h3>SmartDeploy User's Guide</h3>
                      <p>Everything you need to know about using SmartDeploy.</p>
                    </div>
                </div>


            </div>
        </section>

    </div>

</div>