<style>
.icon-text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
}

.icon-text img {
    vertical-align: middle;
    transform: translateY(-0.2em); /* makes up for the all caps text */
    margin-right: 10px;
}
</style>

<span class="icon-text">
    <img src="../images/plus-circle.svg" alt="">
    Regular Icon Text
</span>


