<div class="section-1">
    <div class="container">
        <div class="wpb_text_column">
            <h2 class="headline"><span>Join an Existing Company</span></h2>
        </div>
        <div class="wpb_text_column">
            <p>Enter the email address of the admin for your SmartDeploy account and we'll send them your request to add you to the account.</p>
        </div>
    </div>
</div>