<style>
</style>

<div class="media-block">
    <div class="media-block__media">
        <img src="https://picsum.photos/31/32" alt="">
    </div>
    
    <div class="media-block__body">
        <h3>SmartDeploy User's Guide</h3>
        <p>Everything you need to know about using SmartDeploy.</p>
    </div>
</div>

<div class="media-block">
    <div class="media-block__media">
        <img src="https://picsum.photos/31/32" alt="">
    </div>
    
    <div class="media-block__body">
        <h3>SmartDeploy User's Guide</h3>
        <p>Everything you need to know about using SmartDeploy.</p>
    </div>
</div>