/* 
 * Fixing the weird resets 
 */
p, ul, ol {
    margin: 15px 0;
 }

 ul, ol {
     padding-left: 20px;
     list-style-position: outside;
 }

 ul li,
 ol li {
     list-style-type: disc;
     margin: 15px 0;
 }

 li li {
     margin: 0;
 }

 /* 
  * Universal to the portal 
  */
 a {
     color: #448e87;
     font-weight: 700;
 }
 
 a:hover, a:focus {
     text-decoration: underline !important;
     color: #3c7c77;
 }

 /* 
  * Utility 
  */
 .anti-button,
 .anti-button:hover,
 .anti-button:focus {
     border: none;
     outline: none;
     background: transparent;
     border-radius: 0;
     display: inline-block;
 }

 .float-clear::after {
     content: '';
     display: table;
     clear: both;
 }

 .clear-child-margins > *:first-child {
     margin-top: 0;
 }
 .clear-child-margins > *:last-child {
     margin-bottom: 0;
 }

 .text-center {
     text-align: center;
 }

 .text-left {
     text-align: left;
 }

 .text-right {
     text-align: right;
 }

 .h3-alt {
     color: #7ec4c1;
 }

 /* 
  * Media Block 
  */
 .media-block {
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    align-items: flex-start;
    outline: 1px solid lightgray;
    background: green;
    max-width: 20rem;
    margin-bottom: 35px;
 }

 .media-block__media {
    width: 47px;
    outline: 1px solid sandybrown;
 }

 .media-block__media  img {
    display: block;
 }

 .media-block__body {
    flex: 1;
 }

 .media-block h3 {
    font-weight: 300;
    line-height: 1.2em;
    font-size: 16px;
    margin: 0 ;
 }

 /* 
  * Main/Sidbar Wapper 
  */
 .camp-wrapper {
    display: grid;
    grid-template-columns: 310px auto;
}

/* IE support */
.camp-wrapper {
    display: -ms-grid;
    -ms-grid-columns: 310px 0 1fr;
    -ms-grid-rows: 1fr;
}

.camp-main {
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.camp-sidebar {
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}


 /* 
  * Content Container 
  */
 .camp-wrapper {
    text-align: left;
    line-height: 1.4;
    font-size: 16px;
}

.camp-container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.camp-title-group {
    margin-bottom: 40px;
}

 /* 
  * CAMP Sidebar 
  */
 .camp-sidebar {
    background: #595655;
    float: none;
    min-height: 0;
    width: auto;
    padding: 20px 0;
}

.camp-sidebar__title,
.camp-sidebar__small-title {
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}

.camp-sidebar__title {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: left;
    padding-left: calc(10px + (43px / 2)); /* regular padding plus half of the icon span's width */
    padding-right: 15px;
} 

.camp-sidebar__small-title {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    background: #848280;
}

.camp-sidebar__small-title img {
    /* fix user icon positioning */
    margin-top: -3px;
}

.camp-sidebar__icons {
    display: block;
    vertical-align: middle;
    text-align: right;
    width: 43px;
    float: left;
}

.camp-sidebar__icons button {
    /* increase the icon hit area a little */
    padding: 1px 3px;
}

.camp-sidebar__icons > img {
    /* keep other icons aligned even if they aren't buttons */
    padding-right: 3px;
}

.camp-sidebar__icon-text {
    display: block;
    padding-left: 43px;
}

.camp-sidebar__icon-text.no-button {
    padding-left: calc(43px + 12px);
}

.camp-sidebar__icon-text button {
    text-align: left;
    color: #fff;
    padding: 0 30px 0 12px; /* space minus padding on icon buttons */
    width: 100%;
}

.camp-sidebar__icon-text button:hover,
.camp-sidebar__icon-text button:focus {
    text-decoration: underline !important;
}

.camp-user-menu {
    margin: 0;
    padding: 0;
}

.camp-user-menu__item {
    padding: 10px 0 10px 10px;
}

.camp-user-menu__item:hover,
.camp-user-menu__item:focus {
    background: #393839;
}

.camp-user-menu__item--pending {
    font-style: italic;
}

.camp-user-menu__item a,
.camp-user-menu__item a:hover,
.camp-user-menu__item a:focus {
    color: #fff;
}

/* 
 * Buttons 
*/
.camp-btn-mega {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 29px;
    border-radius: 0;
    background: #f9a94d;
    border: 2px solid #f9a94d;
    width: 500px;
    max-width: 100%;
    padding: 20px 30px;
    transition: all .2s ease-in-out; /* same transition as .vc_general.vc_btn3 */
}

.camp-btn-mega:hover,
.camp-btn-mega:focus {
    color: #f9a94d;
    color: #D87C13;
    color: #595555;
    background: #fff;
}

.camp-btn-mega__icon {
    position: relative;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 -10px;
    transform: translateY(-3px);
}

/* 
* Text 
*/
.camp-notes {
    color: #848280;
}

.camp-icon-title {
    color: #7ec4c1;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 18px;
}

.camp-icon-title img {
    margin-right: 6px;
}

