html {
    overflow-y:auto
}
body #main {
    margin-bottom:0
}
header {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
#scrollup, 
iframe[src="javascript:false"] {
    display:none !important
}
.registration-section {
    background-color: #efefef;
    padding: 90px 0;
    min-height: calc(100vh - 100px); /* height of header */
}
.regist-text-notify {
    color: #f9a94d;
    font-size: 22px !important;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 13px;
}