body {
    margin-bottom: -23px !Important;
}

.errorMessage {
    border: 2px solid #ff0000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.errorMessage ul{
    list-style-type: none;
}

.errorMessageStar{
    color:#ff0000;
    text-align: left;
}

span.errorMessageStar[style*="inline"]
{
    display:block !Important;
}

.submitButton,
.submitButton-teal,
.submitButton-lighter{
    padding: 7px 30px;
    cursor: pointer;
    height: 35px;
    color: #fff !important;
    border: none;
    font: 14px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: content-box;
}

.submitButton {
    background: #595555;
}

.submitButton-teal{
    background: #7ec4c1;
}

.submitButton-lighter {
    background: #848280;   
}

.submitButton:hover,
.submitButton:focus,
.submitButton-teal:hover,
.submitButton-teal:focus,
.submitButton-lighter:hover,
.submitButton-lighter:focus {
    color: #fff !important;
    text-decoration: none !important;
}

.submitButton:hover,
.submitButton:focus {
    background: #446d7d !important;
}

.submitButton-teal:hover,
.submitButton-teal:focus {
    background: #428f8b !important;
}

.submitButton-lighter:hover,
.submitButton-lighter:focus {
    background: #595655 !important;
}

.demoSpacingBackground{
    margin-bottom: 50px !important;
    padding-top: 40px !important;
    padding-right: 50px !important;
    padding-bottom: 30px !important;
    padding-left: 50px !important;
    background-color: #efefef !important;
}

    /*margin: 12px 24px; #a9a9a9*/
.eventRegistrationAlignment{
    color:  #595555;
    padding-top: 20px;
}

td label{
    font-weight:normal;
}

input:focus{
    color:#404040 !important;
}

/*May want to update wordpress css class for this*/
input{
    color:#a9a9a9 !important;
}

 .forgot-password {
    color: #ea8b73 !important;
    text-decoration: underline;
    text-align: right;
    margin-top: 18px;
    padding-right: 12px;
    font-size: 14px;
    cursor:pointer;
}  
 
  /*color: #ea8b73 !important;
    text-decoration: underline !important;*/
  .forgot-password:hover {
    text-align: right;
    margin-top: 18px;
    padding-right: 12px;
    font-size: 14px;
    cursor:pointer;
}  
 
  