<style>
    .register-section {
        background-color: #efefef;
        padding: 50px 0 40px;
    }
    .section-1 {
        padding-bottom: 40px;
    }
    .section-2 {
        padding-bottom: 20px;
    }
    /* breakpoint for the row & column classes */
    @media (min-width: 601px) {
        .col-show-hide-pwd {
            text-align: right;
        }
    }
</style>

<div class="register-section sd-form">
    <div class="container">

        <!-- Form Intro -->
        <div class="section-1">
            <div class="sd-form-container-small">
                <div class="wpb_text_column">
                    <h2 class="headline" style="text-align: left">Form Example</h2>
                </div>
                <div class="wpb_text_column">
                    <p>We’ve just sent a verification code to your email. Once you’ve entered it below, please create a password as well. This will be used to securely log in to your account going forward.</p>
                </div>
            </div>
        </div>
        
        <!-- Form Items -->
        <div class="section-2">
            <div class="sd-form-container-small">
                <div class="devn-form">

                    <!-- 50% wide fields -->
                    <div class="row">
                        <div class="col col-6">
                            <div class="sd-form-item">
                                <div class="sd-form-item_title">
                                    <label for="company-name-input">Company Name</label>
                                </div>
                                <input id="company-name-input" type="text" class="sd-input">
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="sd-form-item">
                                <div class="sd-form-item_title">
                                    <label for="industry-input">Industry</label>
                                </div>
                                <input id="industry-input" type="text" class="sd-input">
                            </div>
                        </div>
                    </div>

                    <!-- Full width password field -->
                    <div class="sd-form-item">
                        <div class="sd-form-item_title">
                            <div class="row">
                                <div class="col col-6">
                                    <label for="password-input">Create Password</label>
                                </div>
                                <div class="col col-6 col-show-hide-pwd">
                                    <button id="hide-show-pwd" class="sd-icon-button-plain" type="button">
                                        <span class="fa fa-eye icon"></span>
                                        <span class="text">Show</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input id="password-input" type="password" class="sd-input">
                    </div>

                    <!-- Text Area -->
                    <div class="sd-form-item">
                        <div class="sd-form-item_title">
                            <label for="upcoming-textarea">Upcoming Projects</label>
                        </div>
                        <textarea id="upcoming-textarea" class="sd-textarea" rows="3"></textarea>
                    </div>

                    <div class="from-item">
                        <button class="submitButton-teal submitButton--large" style="color:#fff !important;">Confirm Account <span class="fa fa-chevron-right" style="font-size: 32px; padding-left: 15px; vertical-align: middle;" ></span></button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // see /js/misc-scripts.js
</script>

