<div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="wpb_wrapper">
            <h3>Column 1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie vulputate volutpat. Morbi nec imperdiet mi. Ut pretium elit et ex fermentum luctus.</p>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="wpb_wrapper">
            <h3>Column 2/3</h3>
            <p>Mauris sit amet porta justo. Fusce pellentesque varius metus.</p>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="wpb_wrapper">
            <h3>Column 3/3</h3>
            <p>Morbi vulputate id leo eget sagittis. Donec a massa imperdiet, ullamcorper lacus eu, rhoncus mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
        </div>
    </div>
</div>