/**
 * Base styles
 * ----------------------------------------//
 */
.ndpl-body {
    background-color: #FFF;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;
    padding: 0;
}
[class^="ndpl-"], [class*=" ndpl-"] {
    box-sizing: border-box;
}
.ndpl-disable-scrolling {
    overflow: hidden;
}
.ndpl-body.nav-open {
    overflow-y: hidden;
}

.ndpl-loading__title,
.ndpl-error,
.ndpl-info,
.ndpl-header,
.ndpl-sidebar,
.ndpl-intro,
.ndpl-library__title,
.ndpl-group__description,
.ndpl-component__title,
.ndpl-component__description,
.ndpl-component__label,
.ndpl-component__code-toggle,
.ndpl-component__color,
.ndpl-page,
.ndpl-nav__title,
.ndpl-sidebar__title {
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

/* Heading type sizes */
.ndpl-library__title {
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
}
.ndpl-component__title {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

/* Body type size */
.ndpl-page,
.ndpl-intro,
.ndpl-group__description,
.ndpl-component__description {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

/* Page sizes */
.ndpl-page h1 { margin-bottom: 24px; }
.ndpl-page h2,
.ndpl-page h3,
.ndpl-page h4,
.ndpl-page h5,
.ndpl-page h6 { margin: 24px 0 12px; }
.ndpl-page h2:first-child,
.ndpl-page h3:first-child,
.ndpl-page h4:first-child,
.ndpl-page h5:first-child,
.ndpl-page h6:first-child { margin-top: 0; }
.ndpl-page h1 { font-size: 26px; font-weight: 400; line-height: 36px; }
.ndpl-page h2 { font-size: 21px; font-weight: 300; line-height: 36px; }
.ndpl-page h3 { font-size: 18px; font-weight: 300; line-height: 32px; }
.ndpl-page h4 { font-size: 16px; font-weight: 300; line-height: 27px; }
.ndpl-page h5 { font-size: 14px; font-weight: 300; line-height: 24px; }
.ndpl-page h6 { font-size: 14px; font-weight: 400; line-height: 24px; }
.ndpl-page code,
.ndpl-component__description code,
.ndpl-group__description code {
    display: inline-block;
    color: #BABEC7;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    line-height: 18px;
    padding: 0 3px;
}
.ndpl-page a,
.ndpl-page a[href] {
    text-decoration: none;
}
.ndpl-page a:hover,
.ndpl-page a[href]:hover {
    text-decoration: underline;
}
.ndpl-page p {
    margin-bottom: 24px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-page h1 { margin-bottom: 48px; }
    .ndpl-page h2,
    .ndpl-page h3,
    .ndpl-page h4,
    .ndpl-page h5,
    .ndpl-page h6 { margin: 48px 0 24px; }

    .ndpl-library__title {
        font-size: 36px;
        line-height: 36px;
    }
    .ndpl-component__title {
        font-size: 21px;
        line-height: 32px;
    }

    .ndpl-page,
    .ndpl-intro,
    .ndpl-group__description,
    .ndpl-component__description {
        font-size: 14px;
        line-height: 21px;
    }

    .ndpl-page h1 { font-size: 36px; line-height: 36px; }
    .ndpl-page h2 { font-size: 28px; line-height: 36px; }
    .ndpl-page h3 { font-size: 21px; line-height: 32px; }
    .ndpl-page h4 { font-size: 18px; line-height: 27px; }
    .ndpl-page h5 { font-size: 16px; line-height: 24px; }
    .ndpl-page h6 { font-size: 16px; line-height: 24px; }
} */

/**
 * #303637 - Heading color
 * #616367 - Body color
 * #B0B1B3 - Dimmed color
 *
 * Theme colors
 * ----------------------------------------//
 */
.ndpl-c-background               { background-color: #FFF; }    /* Background color */
.ndpl-c-border                   { border-color: #E0E6ED; }     /* Border color */
.ndpl-c-highlight                { background-color: #F9FAFC; } /* Highlight background */
.ndpl-c-brand-c                  { color: #FEA1AC; }            /* Brand color */
.ndpl-c-brand-bg                 { background-color: #FEA1AC; } /* Brand background color */
.ndpl-c-brand-b                  { border-color: #FEA1AC; }     /* Brand border color */
.ndpl-c-brand-a:hover            { color: #FEA1AC; }            /* Brand anchor on hover */
.ndpl-c-brand-ca a,
.ndpl-c-brand-ca a[href],
.ndpl-c-brand-ca a[href]:focus,
.ndpl-c-brand-ca a:focus,
.ndpl-c-brand-ca a[href]:active,
.ndpl-c-brand-ca a:active,
.ndpl-c-brand-ca a[href]:visited,
.ndpl-c-brand-ca a:visited        { color: #303637; }            /* Brand child anchors */
.ndpl-c-brand-ca a[href]:hover,
.ndpl-c-brand-ca a:hover          { color: #FEA1AC; }            /* Brand child anchors on hover */
.ndpl-c-brand-cai a,
.ndpl-c-brand-cai a[href],
.ndpl-c-brand-cai a[href]:focus,
.ndpl-c-brand-cai a:focus,
.ndpl-c-brand-cai a[href]:active,
.ndpl-c-brand-cai a:active,
.ndpl-c-brand-cai a[href]:visited,
.ndpl-c-brand-cai a:visited        { color: #FEA1AC; }            /* Brand child anchors */
.ndpl-c-brand-cai a[href]:hover,
.ndpl-c-brand-cai a:hover          { color: #303637 !important; }            /* Brand child anchors on hover */

/**
 * Helpers
 * ----------------------------------------//
 */
/* No state change for anchors */
.ndpl-nsc,
.ndpl-nsc:focus,
.ndpl-nsc[href]:focus,
.ndpl-nsc:hover,
.ndpl-nsc[href]:hover,
.ndpl-nsc:active,
.ndpl-nsc[href]:active,
.ndpl-nsc:visited,
.ndpl-nsc[href]:visited {
    color: #303637 !important;
    text-decoration: none;
}

.ndpl-cf:after {
    content: "";
    display: block;
    clear: both;
}

.ndpl-dark-text {
    color: #616367 !important;
}
.ndpl-light-text {
    color: #FFF !important;
}
.ndpl-apply-border {
    border: 1px solid #E0E6ED;
}
.ndpl-apply-border + .ndpl-apply-border {
    border-top: none;
}

/**
 * Loading
 * ----------------------------------------//
 */
.ndpl-loading__title {
    color: #303637;
    font-weight: 300;
    margin: 0 24px 24px;
    opacity: 0;
    transition: opacity .5s ease;
}
.wf-opensans-n4-active .ndpl-loading__title {
    opacity: 1;
}

.ndpl-container {
    opacity: 0;
    transition: opacity .5s ease .5s;
}
.ndpl-container.loaded {
    opacity: 1;
}
.ndpl-container.resizing {
    visibility: hidden;
}

.ndpl-loading {
    left: -9999px;
    opacity: 0;
    padding: 96px 0;
    position: fixed;
    text-align: center;
    transition: opacity .5s ease;
    width: 100%;
}
.ndpl-loading.in-progress {
    left: 0;
    opacity: 1;
}
.ndpl-loading__title {
    font-size: 27px;
    padding-top: 24px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-loading__title {
        font-size: 36px;
        padding-top: 24px;
    }
} */

/**
 * Errors
 * ----------------------------------------//
 */
.ndpl-error,
.ndpl-info {
    border-radius: 6px;
    color: #FFF;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    padding: 24px;
    font-size: 14px;
}
.ndpl-error {
    background-color: #f97d7d;
}
.ndpl-info {
    background-color: #7da9f9;
}
.ndpl-error code,
.ndpl-info code {
    padding: 0 3px;
}
.ndpl-error code { background-color: #e07070; }
.ndpl-info code  { background-color: #7098e0; }

.ndpl-error .ndpl-pre,
.ndpl-info .ndpl-pre {
    margin-bottom: 0;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-error,
    .ndpl-info {
        margin: 0;
    }
} */

/**
 * Folding cube animation
 * Created by Tobias Ahlin
 * http://tobiasahlin.com/spinkit/
 * ----------------------------------------//
 */
.ndpl-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.ndpl-folding-cube .ndpl-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.ndpl-folding-cube .ndpl-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303637;
    -webkit-animation: ndpl-foldCubeAngle 2.4s infinite linear both;
    animation: ndpl-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.ndpl-folding-cube .ndpl-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.ndpl-folding-cube .ndpl-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.ndpl-folding-cube .ndpl-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.ndpl-folding-cube .ndpl-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.ndpl-folding-cube .ndpl-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.ndpl-folding-cube .ndpl-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes ndpl-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes ndpl-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

/**
 * Header
 * ----------------------------------------//
 */
.ndpl-header {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    margin:0 0 36px;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}
.ndpl-header:after {
    display: none;
}
.ndpl-header__logo {
    float: left;
    height: 28px;
    margin: 0 6px 0 0;
}
.ndpl-header__title {
    color: #303637;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    float: left;
    margin: 0;
}
.ndpl-header__title a {
    display: none;
}
.ndpl-header__title a,
.ndpl-header__title a:hover {
    text-decoration: none !important;
}
.ndpl-header__title small {
    font-size: 60%;
    font-weight: 300;
    margin-left: 6px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-header {
        display: none;
    }

    .ndpl-header__title a {
        display: block;
    }
} */

/**
 * Sidebar
 * ----------------------------------------//
 */
.ndpl-sidebar {
    background-color: #FFF;
    bottom: 0;
    box-shadow: 1px 0 2px rgba(0,0,0,0.2);
    height: 100%;
    left: -100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 103px 0 24px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9997;
}
.ndpl-mobile .ndpl-sidebar {
    transition: left .5s ease;
}
.ndpl-sidebar.open {
    left: 0;
}
.ndpl-sidebar__header {
    display: none;
}
.ndpl-sidebar__logo {
    float: left;
    margin: 0 0 24px 0;
    height: 50px;
}

/*
@media only screen and (min-width: 60em) {

    .ndpl-sidebar {
        background-color: #FFF;
        bottom: 0;
        display: block;
        left: -264px;
        padding: 0;
        position: fixed;
        top: 0;
        width: 264px;
    }
    .loaded .ndpl-sidebar {
        left: 0;
    }

    .ndpl-sidebar__header {
        display: block;
        padding: 24px 24px 36px;
    }
    .ndpl-sidebar__title {
        color: #303637;
        clear: left;
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        margin: 0;
    }
    .ndpl-sidebar__title a {
        text-decoration: none;
    }
    .ndpl-sidebar__title a:hover {
        color: #FEA1AC;
    }
    .ndpl-sidebar__title small {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: red;
    }
}
*/

/**
 * Copyright info
 * ----------------------------------------//
 */
.ndpl-copyright {
    display: block;
    padding: 0 24px 24px;
}
.ndpl-copyright p {
    color: #B0B1B3;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
}
.ndpl-copyright p:last-of-type {
    margin: 0;
}
.ndpl-copyright a {
    text-decoration: none;
}

/**
 * Navigation - Title
 * ----------------------------------------//
 */
.ndpl-nav__title {
    color: #303637;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 21px;
    padding: 0 24px;
    text-transform: uppercase;
}

/**
 * Navigation - Structure
 * ----------------------------------------//
 */
.ndpl-nav__items {
    border-top: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    margin: 0 0 72px;
    padding: 0;
}
.ndpl-nav__item {
    position: relative;
}
.ndpl-nav__item.active .ndpl-nav__group {
    font-weight: 700;
}

.ndpl-nav__child-items {
    display: none;
    font-size: 14px;
    list-style: none;
    min-height: 0;
    padding: 0;
    margin: 0;
}
.active .ndpl-nav__child-items {
    display: block;
}
.ndpl-nav__child-item {
    border-bottom: 1px solid transparent;
    border-radius: 4px;
}

/**
 * Navigation - Page
 * ----------------------------------------//
 */
.ndpl-nav__page {
    border-bottom: 1px solid #E0E6ED;
    border-left: 6px solid transparent;
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: 6px 24px 6px 18px;
    position: relative;
    text-decoration: none;
}
.ndpl-nav__page.active,
.ndpl-nav__page:hover {
    border-left-color: #FEA1AC;
}


/**
 * Navigation - Group
 * ----------------------------------------//
 */
.ndpl-nav__group {
    border-bottom: 1px solid #E0E6ED;
    display: block;
    font-weight: 400;
    padding: 6px 24px;
    position: relative;
    text-decoration: none;
}
.ndpl-nav__group:after {
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgOSAxNSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbH MtMSB7CiAgICAgICAgZmlsbDogIzIzMWYyMDsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MC40NDgsNDkxLjAwOUw0NjgsNDk4LjVsLTcuNTQ4LDcuNDkyTDQ1OSw1MDQuNTU3bDYuMS02LjA1NS02LjEtNi4wNTdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDU5IC00OTEpIi8+Cjwvc3ZnPgo=") center no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 8px;
    margin-top: -4px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: rotate(90deg);
    transition: transform .25s ease;
    width: 5px;
}
.active .ndpl-nav__group:after {
    transform: rotate(-90deg);
}

/**
 * Navigation - Component
 * ----------------------------------------//
 */
.ndpl-nav__component {
    border-left: 6px solid transparent;
    color: #616367 !important;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 24px 6px 30px;
    text-decoration: none;
}
.ndpl-nav__component.active,
.ndpl-nav__component:hover {
    border-left-color: #FEA1AC;
}
.ndpl-nav__arrow {
    margin: -4px 0 0;
    opacity: 0.25;
    position: absolute;
    right: 12px;
    top: 18px;
    width: 16px;
}
.active .ndpl-nav__arrow {
    transform: rotate(180deg);
}

/*
 * Navigation
 * ----------------------------------------//
 */
.ndpl-nav-handle {
    display: block;
    cursor: pointer;
    height: 27px;
    overflow: hidden;
    position: fixed;
    right: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    top: 15px;
    width: 48px;
    z-index: 9999;
}
.ndpl-nav-handle.open {
    position: fixed;
}
.ndpl-nav-handle__container {
    padding: 12px 0 0;
}
.ndpl-nav-handle span {
    background-color: #303637;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    right: 12px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 27px;
}
.ndpl-nav-handle span:nth-child(1) {
    top: 0px;
}
.ndpl-nav-handle span:nth-child(2) {
    top: 9px;
}
.ndpl-nav-handle span:nth-child(3) {
    top: 18px;
}
.ndpl-nav-handle.open span:nth-child(1) {
    top: 11px;
    transform: rotate(-45deg);
}
.ndpl-nav-handle.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
}
.ndpl-nav-handle.open span:nth-child(3) {
    top: 11px;
    transform: rotate(45deg);
}

/* @media only screen and (min-width: 60em) {

    .ndpl-nav-handle {
        display: none;
    }
} */

/**
 * Content containers
 * ----------------------------------------//
 */
.ndpl-page,
.ndpl-library {
    padding-top: 79px;
}
.ndpl-page {
    color: #616367;
    padding-left: 12px;
    padding-right: 12px;
}
.ndpl-page h1,
.ndpl-page h2,
.ndpl-page h3,
.ndpl-page h4,
.ndpl-page h5,
.ndpl-page h6 {
    color: #303637;
}
.ndpl-preloaded {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

@media only screen and (min-width: 35em) {
    .ndpl-page {
        max-width: 580px;
        margin: 0 auto;
    }
}

/* @media only screen and (min-width: 60em) {
    .ndpl-page,
    .ndpl-library {
        margin: 0 auto;
        padding: 56px 0;
    }
    .ndpl-page h1:first-child,
    .ndpl-page h2:first-child,
    .ndpl-page h3:first-child,
    .ndpl-page h4:first-child,
    .ndpl-page h5:first-child,
    .ndpl-page h6:first-child,
    .ndpl-library h1:first-child,
    .ndpl-library h2:first-child,
    .ndpl-library h3:first-child,
    .ndpl-library h4:first-child,
    .ndpl-library h5:first-child,
    .ndpl-library h6:first-child {
        margin-top: 0;
    }
    .ndpl-content {
        padding: 36px 48px 36px 312px;
    }
} */

/**
 * Component Group
 * ----------------------------------------//
 */
.ndpl-library__group {
    overflow: auto;
    zoom: 1;
}
.ndpl-library__title {
    color: #303637;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-library__title {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 24px;
    }
} */

/**
 * Group
 * ----------------------------------------//
 */
.ndpl-group__description {
    color: #616367;
    margin-bottom: 48px;
    padding: 0 12px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-group__description {
        padding: 0;
    }
} */

/**
 * Component
 * ----------------------------------------//
 */
.ndpl-component {
    clear: both;
    margin-bottom: 60px;
}
.ndpl-component__title,
.ndpl-component__description {
    color: #616367;
    padding: 0 12px;
}
.ndpl-component__title {
    margin-bottom: 12px;
}
.ndpl-component__description {
    padding-bottom: 24px;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-component__title,
    .ndpl-component__description {
        padding: 0;
    }
} */

/**
 * Component - Half Width
 * ----------------------------------------//
 */
/* @media only screen and (min-width: 60em) {

    .ndpl-components {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;

        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        margin-left: -36px;
    }

    .ndpl-component {
        padding-left: 36px;
    }

    .ndpl-component--half {
        -ms-flex-grow: 2;
        -webkit-flex-grow: 2;
        flex-grow: 2;

        max-width: 50%;
        width: 50%;
    }

    .ndpl-component--full {
        -ms-flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: 100%;
    }
} */

/**
 * Component - Colours
 * ----------------------------------------//
 */
.ndpl-component__colors {
    padding: 0 12px;
}
.ndpl-component__color-container {
    float: left;
    margin-top: 24px;
    width: 100%;
}
.ndpl-component__color-container:first-of-type {
    margin-top: 0;
}
.ndpl-component__color-container:nth-child(even) {
    margin-right: 0;
}
.ndpl-component__color {
    float: left;
    line-height: 1;
    padding: 24px 0;
    text-align: center;
    width: 50%;
}
.ndpl-component__color:first-of-type {
    border-radius: 6px 0 0 6px;
}
.ndpl-component__color:last-of-type {
    border-radius: 0 6px 6px 0;
}
.ndpl-component__color:first-of-type:last-of-type {
    border-radius: 6px;
    width: 100%;
}
.ndpl-component__color div {
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 6px 9px;
    text-transform: uppercase;
}
.ndpl-component__color div.ndpl-dark-text {
    color: #B0B1B3 !important;
    border-color: #B0B1B3;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-component__colors {
        padding: 0;
    }
    .ndpl-component__color-container {
        margin-right: 3%;
        width: 17.5%;
    }
    .ndpl-component__color-container:nth-child(even) {
        margin-right: 3%;
    }
    .ndpl-component__color-container:nth-child(5n) {
        margin-right: 0;
    }
    .ndpl-component__color-container:nth-child(-n + 5) {
        margin-top: 0;
    }
    .ndpl-component__color {
        padding: 48px 0;
        width: 100%;
    }
    .ndpl-component__color:first-of-type {
        border-radius: 6px 6px 0 0;
    }
    .ndpl-component__color:last-of-type {
        border-radius: 0 0 6px 6px;
    }
} */

/**
 * Component - Preview & code sample
 * ----------------------------------------//
 */
.ndpl-component__sample {
    background-color: #FFF;
    border-top: 1px solid #E0E6ED;
    border-bottom: 1px solid #E0E6ED;
    padding: 36px 12px;
    position: relative;
}
.ndpl-component__sample:after {
    display: block;
    clear: both;
    content: "";
}
.ndpl-component__sample--inverted {
    background-color: #333;
}
.ndpl-component__sample-missing,
.ndpl-component__sample-hidden {
    display: block;
    margin: 0 12px;
    text-align: center;
}
.ndpl-component__code {
    border-bottom: 1px solid #E0E6ED;
}
.ndpl-component__code .ndpl-pre {
    margin: 0;
}

/* We apply the same code styling to page, description and component elements. */
.ndpl-page pre code,
.ndpl-component__description pre code,
.ndpl-component__code .ndpl-code {
    box-sizing: border-box;
    color: #616367;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.75;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 36px 12px;
    white-space: pre;
    width: 100%;
}
.ndpl-page pre code,
.ndpl-component__description pre code {
    padding: 12px;
}

.ndpl-component__code-toggle {
    border-bottom: 1px solid transparent;
    color: #B0B1B3;
    cursor: pointer;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 12px 9px 12px;
    text-align: center;
    text-transform: uppercase;
}

/* @media only screen and (min-width: 60em) {

    .ndpl-component__sample {
        border: 1px solid #E0E6ED;
        border-radius: 6px 6px 0 0;
        padding: 36px;
    }
    .ndpl-component__sample--disabled-code {
        border-radius: 6px;
    }
    .ndpl-component__sample-missing,
    .ndpl-component__sample-hidden {
        margin: 0;
    }
    .ndpl-component__code {
        border: 1px solid #E0E6ED;
        border-top: none;
    }
    .ndpl-page pre code,
    .ndpl-component__description pre code,
    .ndpl-component__code .ndpl-code {
        font-size: 15px;
        line-height: 21px;
        padding: 36px;
    }
    .ndpl-page pre code,
    .ndpl-component__description pre code {
        padding: 12px;
    }
    .ndpl-component__code-toggle {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: 0 0 6px 6px;
    }
} */
