<style>
    header.camp-header {
        background: #7ec4c1 !important;
        padding: 26px 0;
    }

    .camp-header .logo,
    .camp-header .menu_main {
        margin: 0;
    }

    /* Navigation */
    .camp-main-nav {
        text-align: right;
        margin: 0 0 0 auto;
        display: table;
        margin-left: auto;
    }

    .camp-main-nav li {
        display: inline-block;
        height: 50px; /* height of the logo */
        vertical-align: middle;
        display: table-cell;
    }
      
    .camp-main-nav a.camp-main-nav-button {
        /* need buku selectors and importants to override style.css :( */
        background: #fff !important;
        color: #595655 !important;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .camp-main-nav a.camp-main-nav-button:hover,
    .camp-main-nav a.camp-main-nav-button:focus {
        background: #dadada !important;
        color: #595655 !important;
        border: none;
    }

    /* style.css overrides */
    @media (max-width: 999px) and (min-width: 768px) {
        header.camp-header {
            height: auto;
        }
    }

    @media (max-width: 999px) {
        .camp-header .menu_main {
            top: auto;
        }

        .camp-header .logo {
            margin-top: 0;
        }

        .camp-main-nav li {
            width: auto !important;
        }
    }

    /* Adjust for mobile when the logo centers */
    @media (max-width: 767px) { 
        .camp-main-nav {
            text-align: center;
            margin: 25px auto 0;
        }
        .camp-main-nav li {
            height: auto;
        }
    }
</style>

<header class="header camp-header">
    <div class="container">
        <div class="col-md-12">

            <div class="logo">
                <a href="http://localhost.smartdeploy.com">
                    <img src="https://picsum.photos/240/50" alt="Computer imaging software">
                </a>
            </div>

            <nav role="nav" class="menu_main">
                <div class="container">
                    <div class="menu-smartdeploy-main-menu-container">
                        <ul class="camp-main-nav nav">
                            <li id="menu-item-7442" class="ctaButton menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-7442 yam-fwr">
                                <a href="http://localhost.smartdeploy.com/request-a-demo/" class="camp-main-nav-button">Request a Demo</a>
                            </li>
                            <li id="menu-item-6031" class="ctaButton menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-6031 yam-fwr">
                                <a href="http://localhost.smartdeploy.com/download/smartdeploy/" class="camp-main-nav-button">Download</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</header>